@import url('../../index.css');

.cv-view {
  --accent-color: #add8e6;
  --sidebar-location: 2;
  --sidebar-right-padding: 0;
  --sidebar-left-padding: 0.5em;
  --selected-font: 'atkinson-hyper-legible';
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 0.15fr 1fr;
  background-color: white;
  box-shadow: var(--view-shadow);
  color: black;
  font-family: var(--selected-font);
  letter-spacing: 0;
  font-size: 12pt;
  --header-size: 14pt;
  --subheader-size: 13pt;
  --space-from-header: 2em;
}

.view-header {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  background-color: var(--accent-color);
}
.view-header-name {
  font-size: 30pt;
}
.view-header-title {
  font-size: 16pt;
  font-weight: normal;
}
.view-header-other {
  font: 14pt;
  font-weight: normal;
}

.view-header,
.view-primary-info {
  padding-left: 1em;
}

.view-list-label,
.view-text-field-label {
  font-weight: bold;
}
.view-primary-info {
  display: flex;
  flex-direction: column;
  gap: var(--space-large);
  padding-top: var(--space-from-header);
  padding-right: 1em;
}

.view-primary-info-section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.view-profile {
}
.view-primary-info-section-header {
  border-bottom: 3px solid black;
  margin-bottom: 0.25em;
}

.view-primary-subsection-header {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
}
.view-primary-subsection-header-info {
  width: 100%;
}
.view-primary-subsection-header-primary {
  font-weight: bold;
  font-size: var(--subheader-size);
}
.view-primary-subsection-header-secondary {
  font-style: italic;
  font-weight: bold;
  font-size: 11pt;
}
.view-primary-subsection-header-date {
  max-width: min-content;
}

.view-sidebar {
  grid-row: 2;
  grid-column: var(--sidebar-location);
  background-color: #d0dde0;
  display: flex;
  flex-direction: column;
  gap: var(--space-large);
  padding-right: var(--sidebar-right-padding);
  padding-left: var(--sidebar-left-padding);
  padding-top: var(--space-from-header);
}
.view-sidebar-section {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}
.view-sidebar-section-item > * {
  display: flex;
  flex-direction: column;
  margin: var(--space-small);
  height: min-content;
  width: 100%;
  line-height: 1;
}

.view-sidebar-section-header {
  width: 100%;
  border-bottom: 3px solid black;
  font-size: var(--header-size);
}

.view-sidebar-item-label {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

@media print {
  html,
  body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: white;
  }
  .cv-app-container {
    padding: 0;
  }

  section.cv-editors-section,
  header.index-header {
    display: none;
  }

  @page {
    margin: 0;
    size: auto;
  }
}
