@import url('../../index.css');

.cv-view {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-rows: 0.15fr 1fr;
  background-color: white;
  box-shadow: var(--view-shadow);
  color: black;
  --accent-color: #add8e6;
  --sidebar-location: 2;
  --selected-font: 'atkinson-hyper-legible';
}

.view-header {
  grid-column: 1/-1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: var(--space-medium);
  background-color: var(--accent-color);
}
.view-header-name {
  font-size: 2rem;
}
.view-header-title {
  font-size: 1.25rem;
}
.view-additional-info-sidebar {
  grid-row: 2;
  grid-column: var(--sidebar-location);
  background-color: #d0dde0;
}
