@import url('../../../index.css');

.drop-down-container,
.drop-down-container-header {
  display: flex;
}

.drop-down-container {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

.drop-down-container,
.drop-down-container > * {
  width: 100%;
}

.drop-down-container,
.drop-down-container-header {
  justify-content: start;
  align-items: center;
}

.drop-down-container-header > h3 {
  color: var(--color-primary-accent);
  padding: 0 var(--space-medium) 0 var(--space-medium);
}
.drop-down-container-header,
.drop-down-container-content {
  background-color: var(--color-container-background);
}

.toggle-drop-down-button {
  border-radius: var(--border-radius) 0 0 0;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.toggle-drop-down-button > svg {
  fill: var(--color-primary-accent);
}
.drop-down-chevron {
  transition: transform var(--effect-transition-time) ease;
}

div.drop-down-interactive-header {
  cursor: pointer;
}

.open-menu,
div.drop-down-interactive-header:hover {
  background-color: var(--color-primary-accent);
}
.open-menu > .toggle-drop-down-button > svg {
  fill: var(--color-primary-accent-secondary);
}
.open-menu > h3,
div.drop-down-interactive-header:hover > h3 {
  color: var(--color-primary-accent-secondary);
}
.open-menu,
.drop-down-container-header,
div.drop-down-interactive-header:hover {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

div.drop-down-interactive-header.open-menu:hover {
  background-color: var(--color-primary-accent-secondary);
}
div.drop-down-interactive-header.open-menu:hover > h3 {
  color: var(--color-primary-accent);
}

div.drop-down-interactive-header:hover > *::selection {
  background-color: var(--color-primary-accent-secondary);
  color: var(--color-primary-accent);
}
div.drop-down-interactive-header:hover > *::-moz-selection {
  background-color: var(--color-primary-accent-secondary);
  color: var(--color-primary-accent);
}
.drop-down-chevron.rotated {
  transform: rotate(180deg);
}

.drop-down-container-content {
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  border: 3px solid var(--color-primary-accent);
  padding: var(--space-large);
}

.collapse,
.expand {
  transform-origin: top;
}

.expand {
  animation: expand-dropdown var(--effect-transition-time) ease-out;
}
.collapse {
  animation: collapse-dropdown var(--effect-transition-time) ease-in forwards;
}

@keyframes collapse-dropdown {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1, 0);
  }
}
@keyframes expand-dropdown {
  from {
    transform: scale(1, 0);
  }
  75% {
    transform: scale(1, 1.05);
  }
  to {
    transform: scale(1, 1);
  }
}
