@import url('../../../../../index.css');

.custom-checkbox {
  max-width: 32px;
  max-height: 32px;
  min-width: 32px;
  min-height: 32px;
  transition: none;
  transform: none;
}

button.custom-checkbox:hover {
  background-color: var(--color-primary-accent-secondary);
}

.custom-checkbox.checked {
  background-color: var(--color-primary-accent);
}
.custom-checkbox.unchecked {
  background-color: white;
}
