@import url('../../../index.css');

.field-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}
.field-wrapper > * {
  flex: 1;
}

.field-wrapper > label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: fit-content;
  max-width: 20%;
}

.field-wrapper > input {
  border-radius: var(--border-radius);
}
