@import url('../../index.css');

.add-custom-field-inputs-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minMax(240px, 1fr));
  flex-direction: column;
  padding: var(--space-medium);
  gap: var(--space-small) var(--space-medium);
  align-items: start;
}

.add-custom-field {
  grid-column: 1/-1;
  width: 33%;
  padding: var(--space-medium);
}
