@import url('../../index.css');

.add-custom-field-inputs-container {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: var(--space-medium);
  gap: var(--space-small) var(--space-medium);
  align-items: center;
}
.add-custom-field-inputs-container > label,
.add-custom-field-inputs-container > .select-menu-label {
  display: contents;
}
.add-custom-field {
  grid-column: 1/-1;
  width: 25%;
  padding: var(--space-medium);
}
