@import url('../../../../../index.css');

.select-menu {
  position: relative;
}

.select-menu-option {
  color: var(--color-primary-text);
}
.select-menu > .drop-down-container-content {
  display: flex;
  background-color: var(--color-primary-accent-secondary);
}

.select-menu > .drop-down-container-header {
  flex-direction: row-reverse;
}
.select-menu > .drop-down-container-header > h3 {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
}

.select-menu > .drop-down-container-header > .toggle-drop-down-button {
  border-radius: 0 var(--border-radius) 0 0;
}
.select-menu > .drop-down-container-header > .toggle-drop-down-button > svg {
  width: 24px;
  height: 24px;
}
.select-menu > .drop-down-container-content {
  position: absolute;
  top: 100%;
  flex-direction: column;
  padding: 0;
}
.select-menu-options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select-menu-option {
  border-radius: 0;
  width: 100%;
  cursor: pointer;
  padding: 0 var(--space-medium) 0 var(--space-medium);
  background-color: inherit;
  font-weight: bold;
}
.select-menu-option:hover {
  background-color: var(--color-primary-accent);
  color: var(--color-primary-accent-secondary);
  border: 3px solid var(--color-primary-accent-secondary);
}
