@import url('../../../../../index.css');
label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

input {
  padding: var(--space-small);
  border-radius: var(--border-radius);
}

input[type='date'],
input::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

input[type='color'] {
  padding: 0;
  cursor: pointer;
}
