@import url('../../../index.css');

.field-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}
.field-wrapper > * {
  flex: 1;
}

.field-input-button-wrapper {
  display: flex;
  border: 3px solid var(--color-primary-accent);
  border-radius: var(--border-radius);
}
.field-input-button-wrapper > * {
  border-radius: 0;
  border: none;
  padding: var(--space-medium);
}

.field-wrapper-delete-button:hover {
  border-left: 3px solid var(--color-primary-accent);
}
