@import url('./index.css');

.cv-app-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minMax(250px, 1fr));
  height: 100vh;
  width: 100vw;
  padding: var(--space-xl);
  padding-top: var(--space-xxl);
  gap: var(--space-large);
}
